<!DOCTYPE html>
<html>
<head>
    <title>Editar</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="d-flex justify-content-center align-items-center">

    <div class="login-box">
        <h2>EDITAR EMPLEADO</h2>

        <form method="POST" action="{{ url_for('actualizaremp', id=emp[0]) }}">
            <input type="hidden" name="id" value="{{emp[0]}}"> Nombre

            <div class="form-inputs">
                <input type="text" name="txtnombre" placeholder="Nombre" value="{{emp[2]}}"> Apellido
                <input type="text" name="txtapellido" placeholder="Apellido" value="{{emp[3]}}"> Cargo
                <input type="text" name="txtcargo" placeholder="Cargo" value="{{emp[4]}}">
                <label>Departamento</label>
                        <select class="form-select" name="txtdepartamento">
                            <option value="">Seleccione</option>
                            <option value="1">Sistemas</option>
                            <option value="2">Cafeteria</option>
                            <option value="3">Contabilidad</option>
                            <option value="4">Recursos Humanos</option>
                        </select>Horas Extra
                <input type="number" name="txthorasextra" placeholder="Horas Extra" value="{{emp[6]}}"> Bonificación
                <input type="number" name="txtbonificacion" placeholder="Bonificación" value="{{emp[7]}}"> 
            </div>

            <button type="submit">ACTUALIZAR</button>

            <a href="{{url_for('inicio')}}" class="forgot-password">Cancelar</a>
        </form>
    </div>

</body>